Package: asasec.mod
Name: AsasecMod-İosFreeİapStoreKit
Version: 0.2.8
Architecture: iphoneos-arm
Description: asasecmod
Maintainer: asasec
Author: asasec
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 12.2)
